@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

* {
    font-family: 'Almarai', sans-serif;
}

.header_line {
    line-height: 1.2rem;
    width:100%;
    top:30px;
    bottom:0px; 
}

.box1 {
  border:solid 0.5px #000;
}
.h3 {
    font-weight: 900;
    width:100%;
}